<% movies.each do |movie| %>
  <ul>
    <li>
      <% if movie.poster.attached? %>
        <%= image_tag(movie.poster, size: 200) %>
      <% else %>
        <%= image_tag('no-poster.jpg', size: 200) %>
      <% end %>
      <p>
        <%= link_to movie.title, movie_path(movie) %>
        <% if movie.released? %>
          (Já lançado)
        <% else %>
          (A ser lançado)
        <% end %>
      </p>
    </li>
  </ul>
<% end %>